<suite name="Web test suite" verbose="1" parallel="methods" thread-count="2">
    <test name="Parallel Tests">
        <classes>
            <class name="HomeTest"></class>
            <class name="LoginTest"></class>
            <class name="ProfileTest"></class>
            <class name="CreateNewPostTest"></class>
            <class name="RegisterTest"></class>
            <class name="LikePostTest"></class>
        </classes>
    </test>
</suite>